<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <title></title>
    </head>
    <body>
	
        <div id="app">
            <div id="input-container">
                <input v-model="newTask" id="new-task-input" type="text" placeholder="Aggiungi una nuova mansione">
                <button @click="addTask" id="new-task-button">Aggiungi</button>
            </div>
            <div id="tasks-container">
                <ul>
                    <li v-for="text in tasks">
                        {{text}}
                    </li>
                </ul>
            </div>
            
        </div>

	<script src="https://unpkg.com/vue@3"></script>
    <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>

